
<div class="container">
  <div class="row valign">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="images/banner.jpg">
          {{!-- <span class="card-title">Cox Automotive Total Solutions</span>           --}}
        </div>
        <div class="card-content">
            <span class="blue-grey-text">                                
            <p style="font-size:18px;">Cox Automotive Total Solutions</p>
            <p>Welcome back Andy!</p>            
            </span>
            <div class="card-content" style="margin-top:20px;">
                <img src="images/logo_cox_automotive-sm.jpg">
                <p>Transforming the way the world buys, sells and owns cars</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
