<div class="container">
  <div class="row">

    <div class="col s12 m7">
      <div class="card horizontal">
        <div class="card-image valign-wrapper">
          <img src="/images/ngc-symbol-sm.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>$4K and Under! 99 MORE DAYS OF SUMMER SALE</p>
          </div>
        </div>
      </div>
    </div>



    <div class="col s12 m7">
      <div class="card horizontal">
        <div class="card-image valign-wrapper">
          <img src="/images/manheim-symbol-sm.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Get ready for the Manheim Spring Stock-Up event!</p>
          </div>
        </div>
      </div>
    </div>



    <div class="col s12 m7">
      <div class="card horizontal">
        <div class="card-image valign-wrapper">
          <img src="/images/ngc-symbol-sm.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p class="red-text">Buy-back Alert! We want to buy your 2013 Toyota Camry for $10,900!</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>