<div class="container">
  <div class="row">

    <div class="col s12 m7">
      <div class="card horizontal">
        <div style="padding-left:10px;" class="card-image valign-wrapper">
          <img src="/images/rl-symbol-sm.jpg" class=" activator">
        </div>
        <div class="card-content">
          <span class="card-title activator blue-grey-text">Transportation Alert</span>
          <p class="red-text">You have 4 vehicles out for delivery from Manheim Indy.</p>
        </div>
        <div class="card-reveal">
          <div>
            <span class="card-title blue-grey-text">Vehicle Info
              <i class="material-icons right">close</i>
            </span>
            <p>2012 Nissan Altima</p>
            <p>2014 Ford F150</p>
            <p>2010 Toyota Avalon</p>
            <p>2012 Ford Fusion</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m7">
      <div class="card horizontal">
        <div style="padding-left:10px;" class="card-image valign-wrapper">
          <img src="/images/ngc-symbol-sm.png">
        </div>
        <div class="card-content">
          <span class="card-title activator blue-grey-text">Reminder</span>
          <p class="red-text">You have 2 payments totalling $957.25 due tomorrow.</p>
        </div>
        <div class="card-reveal">
          <div>
            <span class="card-title blue-grey-text">Manage Account
              <i class="material-icons right">close</i>
            </span>
            <div style="padding-top:10px;">
              <a href="https://customer.nextgearcapital.com" target="new">
                <img src="/images/mng-logo.png">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m7">
      <div class="card horizontal">
        <div style="padding-left:10px;" class="card-image valign-wrapper">
          <img src="/images/manheim-symbol-sm.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator blue-grey-text">Inventory Alert!</span>
          <p class="red-text">3 of your 7 watch list vehicles are available!</p>
        </div>
        <div class="card-reveal">
          <div>
            <span class="card-title blue-grey-text">Manheim Indy
              <i class="material-icons right">close</i>
            </span>
            <p>2011 Toyota Camry</p>
            <p>2014 Ford F150</p>
            <p>2013 Toyota Corolla</p>
          </div>
        </div>        
      </div>
    </div>

    <div class="col s12 m7">
      <div class="card horizontal">
        <div style="padding-left:10px;" class="card-image valign-wrapper">
          <img src="/images/ngc-symbol-sm.png">
        </div>
        <div class="card-content">
          <span class="card-title blue-grey-text">Buy-back Alert!</span>
          <p class="red-text">We want to buy your 2013 Toyota Camry for $10,900!</p>
        </div>
      </div>
    </div>

    <div class="col s12 m7">
      <div class="card horizontal">
        <div style="padding-left:10px; padding-right:10px;" class="card-image valign-wrapper">
          <img src="/images/autotrader-symbol-sm.jpg">
        </div>
        <div class="card-content">
          <span class="blue-text text-darken-4">
            Drive Web Traffic
            <br/> <span class="orange-text">Expose Your Inventory</span>
            <br/> Build Your Brand
          </span>
        </div>
      </div>
    </div>

    <div class="col s12 m7">
      <div class="card horizontal">
        <div style="padding-left:10px;" class="card-image valign-wrapper">
          <img src="/images/ngc-symbol-sm.png">
        </div>
        <div class="card-content">
          <p>$4K and Under! 99 MORE DAYS OF SUMMER SALE</p>
        </div>
        <div style="padding-right:10px;" class="valign-wrapper">
          <i class="material-icons green-text small">event</i>
        </div>
      </div>
    </div>

    <div class="col s12 m7">
      <div class="card horizontal">
        <div style="padding-left:10px;" class="card-image valign-wrapper">
          <img src="/images/manheim-symbol-sm.jpg">
        </div>
        <div class="card-content">
          <p>Get ready for the Manheim Spring Stock-Up event!</p>
        </div>
      </div>
    </div>

  </div>
</div>